# Default reviewer (fallback for everything)
* @malakhamshary13

# Core business logic
/core/ @Karim-Mohamed-Elsayed

# Database layer
/db/ @Karim-Mohamed-Elsayed @aligad12

# Feature modules (main logic of app)
/modules/ @Karim-Mohamed-Elsayed @aligad12

# Background workers / async tasks
/worker/ @aligad12

# Project entry point
main.py @malakhamshary13 @Karim-Mohamed-Elsayed

# Dependencies / config
requirements.txt @malakhamshary13
